@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    padding: 0;
    left: 0;
    box-sizing: border-box;
  }
  .sidebar-container{
    @apply bg-yellow-500   w-[20rem] p-4 border transition-all duration-500 border-solid border-glass relative flex flex-row justify-end
  }
} 